.input-radio {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--spacing-medium);
}

.input-radio__label {
	cursor: pointer;
}

.input-radio__label:hover .input-radio__text::before {
	background: var(--color-tertiary);
}

.input-radio__text::before {
	content: '';
	display: inline-block;
	background: var(--color-secondary);
	margin-right: 0.25rem;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 100%;
}

.input-radio__input:checked + .input-radio__text::before {
	background: var(--color-primary);
}